@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

html {
  scroll-behavior: smooth;
  background: whitesmoke;
}
  
  /* Global styles */
body {
  font-family: Kanit, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

  /* Navbar styles */
.nav-container {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: whitesmoke;
  padding: 20px;
  z-index: 10;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
.title {
  font-size: 30px;
  color: rgb(22, 194, 194);
}

a {
  text-decoration: none;
  color: rgb(112, 108, 108);
  padding: 10px;
}

nav a:hover {
  color: rgb(22, 194, 194);
  border-bottom: 2px solid rgb(22, 194, 194);
  color: rgb(22, 194, 194);
}

  /* About me Section styles */
.about-container {
  background-color: whitesmoke;
}

.about-me {
margin-top: 10%;
text-align: center;
padding: 25px;
margin-left: 275px;
margin-right: 275px;
animation: slide-in-left 0.5s ease-out;
opacity: 100%;
}

/* Animation About me Section */
@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 75%;
  }
}

h1 {
  font-size: 40px;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 22px;
  color: #14c0c0;
  margin-bottom: 10px;
}

/* Skill Section */
.skill-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

h2 {
  font-size: 42px;
  margin-top: 200px;
  margin-bottom: 35px;
  text-align: center;
}

.skill {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding: 25px;
  width: 350px;
  margin: 0 10px;
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
}

.skill:hover{
  transform: scale(0.95);
}

.sk1 {
  background: linear-gradient(245deg, rgba(2,0,36,1) 0%, rgba(121,74,9,1) 0%, rgba(255,250,0,1) 58%);
}

.sk2 {
  background: linear-gradient(166deg, rgba(2,0,36,1) 0%, rgba(255,0,0,1) 0%, rgba(255,195,0,1) 58%);
}

.sk3 {
  background: linear-gradient(326deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 67%);
}

.fa-brands {
  font-size: 70px;
}

.skill h4 {
  font-size: 22px;
  margin-top: 7px;
  margin-bottom: 7px;
}

p {
  font-size: 20px;
}

/* Projects Section */
.projects-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
  padding: 25px;
  width: 600px;
  margin: 0 10px;
  cursor: pointer;
}

.project img {
  transition: transform 0.3s ease-in-out;
}

.project img:hover {
  transform: scale(1.1);
}

.proj1{
  background: linear-gradient(to right,#c94b4b, #4b134f);
}

.proj2 {
  background: linear-gradient(to right,#355C7D, #6C5B7B, #C06C84);
}

.project h4 {
  font-size: 30px;
  text-align: center;
  font-weight: normal;
font-style: oblique;
}

img {
  width: 100%;
  border-radius: 12px;
}

/* Footer Section */
.line {
  width: 90%;
  border-bottom: 1px solid rgb(194, 189, 189);
  margin: 0 auto;
  margin-top: 100px;
}

.footer-container {
  text-align: center;
}

.footer-icons {
  font-size: 25px;
}

/* Contact me Styles */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: whitesmoke;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}